[nodes:vars]
ansible_connection=ssh
ansible_port=22
# ansible_user=admin

[nodes:children]
nucs_good
gpus

[gpus]
gpu-01.dav
gpu-02.dav

[nucs_good]
nuc10-[01:10].dav

[nucs_bad]

[vms:vars]
ansible_connection=ssh
ansible_port=22
ansible_user=core

[vms]
vm-[00:12].dav

[ocp]
children:ctrl
children:storage

[ctrl]
vm-[00:02].dav

[storage]
vms-[03:05].dav
