[nodes:vars]
ansible_connection=ssh
ansible_port=22
# ansible_user=admin

[nodes:children]
nucs_good
# nucs-bad

[nucs_good]
nuc10-[01:10].dav

[nucs_bad]
nuc10-[11:13].dav

# nuc10-01 0,3
# nuc10-02 1,4
# nuc10-03 2,5

[vms:vars]
ansible_connection=ssh
ansible_port=22
ansible_user=core

[vms]
vm-[00:12].dav

[ocp]
children:ctrl
children:storage

[ctrl]
vm-[00:02].dav

[storage]
vms-[03:05].dav
